.inputForm{width:100%;margin:10px 0 0 100px;}
.search-bar{display:flex;width:100%;}
.input{width:75%;height:50px;margin-bottom:15px;border-radius:15px;font-size:20px;padding:10px;}
.search{width:10%;height:50px;padding:15px;margin-left:20px;background-color: antiquewhite;border-radius:15px;}
.search:hover{background-color: white;}